# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution and build directories
dist/
build/

# Dependency directories
node_modules

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock


# Local environment (virtualenv) + dotenv
venv/
.env